#content {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0px auto;
}

#posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    max-width: 1200px;
}

.post {
    display: flex;
    flex-direction: row;
    font-family: "Poppins";
    font-weight: 400;
    margin: 30px 0px;
}

.post h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.post h2 a {
    color: #000;
    text-decoration: none;
}

.post h2 a:hover {
    color: var(--theme-color-hover);
}

.post img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    margin-right: 2.5rem;
}

.post .meta-data {
    font-weight: 600;
    font-size: 1rem;
    color: var(--theme-color);
    margin-bottom: 2px;
}

.post .meta-data .fecha {
    text-transform: capitalize;
}