@import url("general.css");
@import url("fuentes.css");
@import url("header.css");
@import url("footer.css");
@import url("scroll-top.css");
@import url("loading.css");
@import url("index-content.css");
@import url("calculadora.css");
@import url("media-queries.css");
@import url("reloj.css");
@import url("contacto.css");

#container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 800px;
    height: 550px;
    border: 1px solid #e0e0e0;

}

#contact-form h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--theme-color);
}

#contact-form input,
#contact-form textarea,
#contact-form [type="submit"] {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 85%;
    padding: 10px;
}

#contact-form #submit {
    background-color: var(--theme-color);
    color: #fff;
    border: none;
    width: 88%;

}

#contact-form #submit:hover {
    background-color: var(--theme-color-hover);
    cursor: pointer;
}

#container-form .send-message {
    font-size: 1.5rem;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}