.tema-rosa {
    --theme-color: #FF5757;
    --theme-color-hover: #ff7777;
    --txt-color: #fff;
}

.tema-verde {
    --theme-color: #258d19;
    --theme-color-hover: #4ea93b;
    --txt-color: #fff;

}

.tema-azul {
    --theme-color: #1271c9;
    --theme-color-hover: #3d8edf;
    --txt-color: #fff;

}

.tema-morado {
    --theme-color: #800080;
    --theme-color-hover: #b100b1;
    --txt-color: #000;
}